[submodule "api/wallet-service-api"]
	path = api/wallet-service-api
	url = git@github.com:hypertino/wallet-service-api.git
[submodule "api/hyperstorage-service-api"]
	path = api/hyperstorage-service-api
	url = git@github.com:hypertino/hyperstorage-service-api.git
[submodule "travis"]
	path = travis
	url = git@github.com:hypertino/scala-travis-script.git
